.container {
  margin-top: 4rem;

  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  margin-inline: auto;
}
