.container {
  margin-top: 4rem;

  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  margin-inline: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.ticket {
  background-color: white;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

h1 {
  margin: 0;
}

.info {
  padding: 20px;
}

.info p {
  margin: 10px 0;
}

.barcode img {
  padding: 0.25rem;
  margin-bottom: 20px;
}
